<h1>Pokedex</h1>

<%= current_user && "Usuário: #{current_user.email}" %>
<br>
<%= user_signed_in? ? link_to("Sair", destroy_user_session_path, method: :delete) : link_to("Entrar", new_user_session_path ) %>
<br>
<%= user_signed_in? ? link_to("Meus pokemons", pokemons_path) : "" %>